#navbar-fixed-bottom {
    margin-top: 60px;
    padding-top: 60px;

}



.lastCreated {
    width:640px;
    height:490px;
    float:left;
}
.showTopSchemes {
    width:640px;
    height:490px;
    float:right;
}

#schemePage {
    width:960px;
    height:490px;
    background:
            linear-gradient(
                    black, transparent 1px
            ),
            linear-gradient(
                    90deg,
                    black, transparent 1px
            );
    background-size: 10px 10px;
    background-position: center center;
    border: 2px solid navajowhite;

}
#element {
    height: 100px;
    width: 100px;
    padding: 1em;
    display: inline-block;
}
