// component styles are encapsulated and only applied to their components
.lastCreated {
  width:640px;
  height:490px;
  float:left;
}
.showTopSchemes {
  width:640px;
  height:490px;
  float:right;
}
